.vscode/
__pycache__
bin/
lib/
lib64
share/
Scripts/
Lib/

*.cfg
*.pyc
*.log
*.db
*.db-journal
*.jar
*.dylib
*.so

@eaDir
.DS_Store
misc/bot_log.log
api-keys.key
bot-config.yaml

ffprobe-darwin
ffmpeg-darwin
ffprobe-linux
ffmpeg-linux
